@model Students.Models.Lesson

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Lesson</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Student.FullName" class="control-label"></label>
                <select asp-for="StudentId" class="form-control" asp-items="ViewBag.StudentId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Tutor.TFullName" class="control-label"></label>
                <select asp-for="TutorId" class="form-control" asp-items="ViewBag.TutorId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Instrument.InstrumentType" class="control-label"></label>
                <select asp-for="InstrumentId" class="form-control" asp-items="ViewBag.InstrumentId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Term" class="control-label"></label>:
                @Html.DropDownListFor(m => m.Term, new SelectList(Enum.GetValues(typeof(Term))), "Select Term")
                <span asp-validation-for="Term" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TimeYear" class="control-label"></label>
                <input asp-for="TimeYear" class="form-control" />
                <span asp-validation-for="TimeYear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DurationId" class="control-label"></label>
                <select asp-for="DurationId" class="form-control" asp-items="ViewBag.DurationId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Paid" class="control-label"></label>
                @Html.CheckBoxFor(m => m.Paid)
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
