@{
    ViewData["Title"] = "Home Page";
}
<div style="height:60vh; display:flex; justify-content:center; align-items:center">

    <div class="text-center">
        <h1 class="display-3">Welcome!</h1>
        <h3 class="display-4">HIT339 Team 4</h3>
    </div>
    </div>