@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-3">Welcome!</h1>
    <h3 class="display-4">HIT339 Team 4</h3>
    <p>Kanish Chhabra | Darlane Tang | Meng Yuan </p>
</div>
