@model IEnumerable<HIT339_Assignment_1.Models.Instrument>

@{
    ViewData["Title"] = "Index";
}

<div class="d-flex justify-content-between">

    <h1 class="my-2 align-self-center">Instruments</h1>

    <button class="btn btn-primary my-2">
        <a asp-action="Create">
            <p class="text-lg-center text-white m-auto">
                Create New
            </p>
        </a>
    </button>
</div>

<div class="table-responsive my-2">
    <table class="table">
        <thead>
            <tr style="color:black">
                <th>
                    @Html.DisplayNameFor(model => model.InstrumentName)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.InstrumentName)
                    </td>
                    <td>
                        <div class="d-flex justify-content-end" style="width:auto">

                            <a asp-action="Edit" asp-route-id="@item.id" style="margin-right:32px; text-decoration:none">
                                Edit
                            </a>
                            <a asp-action="Delete" asp-route-id="@item.id" style=" text-decoration:none">
                                Delete
                            </a>
                        </div>

                    </td>
                </tr>
            }
        </tbody>
    </table>
    </div>
