@model HIT339_Assignment_1.Models.Lesson

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Lesson</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="StudentID" class="control-label"></label>
                <select asp-for="StudentID" class="form-control" asp-items="ViewBag.StudentID"></select>
            </div>
            <div class="form-group">
                <label asp-for="InstructorID" class="control-label"></label>
                <select asp-for="InstructorID" class="form-control" asp-items="ViewBag.InstructorID"></select>
            </div>
            <div class="form-group">
                <label asp-for="InstrumentID" class="control-label"></label>
                <select asp-for="InstrumentID" class="form-control" asp-items="ViewBag.InstrumentID"></select>
            </div>
            <div class="form-group">
                <label asp-for="Term" class="control-label"></label>
                <select asp-for="Term" class="form-control" asp-items="ViewBag.Term"></select>
                <span asp-validation-for="Term" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Semester" class="control-label"></label>
                <select asp-for="Semester" class="form-control" asp-items="ViewBag.Semester"></select>
                <span asp-validation-for="Term" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LessonDate" class="control-label"></label>
                <input asp-for="LessonDate" class="form-control" />
                <span asp-validation-for="LessonDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LessonDuration" class="control-label"></label>
                <select asp-for="LessonDuration" class="form-control" asp-items="ViewBag.LessonDuration"></select>
                <span asp-validation-for="LessonDuration" class="text-danger"></span>
            </div>
            <div class="form-group form-check my-3">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Paid" /> @Html.DisplayNameFor(model => model.Paid)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary rounded" />
                <a class="btn btn-secondary rounded" asp-action="Index">Back to List</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
